#================================================
# gitignore
#================================================

#================================================
# Yocto
#================================================
/**/yocto/

#================================================
# Buildroot
#================================================
/**/buildroot/
